{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
    <p class="lead">
        This website lets you to compare statistics about Facebook advertisements by Dutch political parties.
        It is based on data from the <a href="https://www.facebook.com/ads/library/">Facebook Ad Library</a>.
        For more information visit the <a href="/DutchPoliticalFacebookAdComparision/website/about.html">about page</a>.
    </p>

    <hr>

    <div>
        {% for data_type in DATA_TYPES %}
            <div id="{{ data_type }}-charts">
                <div class="text-center">
                    <h3>{{ data_type | replace("-", " ") | capitalize }}</h3>
                    <p>
                        {% if data_type == "number-of-ads" %}
                            All parties combined ran <strong>{{ general_data["number-of-ads-total"] }}</strong> ads in the past year.
                        {% elif data_type == "spending" %}
                            In total between <strong>€{{ general_data["spending-total-lower"] }} - €{{ general_data["spending-total-upper"] }}</strong> has been spent in the past year.
                            <br>
                            <a id="most-expensive-ad-link" href="https://www.facebook.com/ads/library/?id={{ general_data["most-expensive-ad"]["id"] }}">The most expensive ad</a> cost an estimated <strong>€{{ general_data["most-expensive-ad"]["spend-per-day"] }}</strong> per day,
                            ran for <strong>{{ general_data["most-expensive-ad"]["days"] }}</strong> day(s) and is from <strong>{{ general_data["most-expensive-ad"]["party"] }}</strong>.
                        {% elif data_type == "impressions" %}
                            These graphs show data about the <a href="https://www.facebook.com/business/help/675615482516035">impressions</a> (i.e. how many times an ad was show).
                        {% elif data_type == "potential-reach" %}
                            This graph shows the <a href="https://www.facebook.com/business/help/1665333080167380?id=176276233019487">potential reach</a> (i.e. the maximum amount of people that could have seen an ad) over time.
                        {% endif %}
                    </p>
                </div>

                <div class="row">
                    {% if data_type + "-party-daily" in general_data %}
                        <div class="col-8 mx-auto">
                            <canvas
                                    id="{{ data_type }}-party-daily-chart"
                                    data-data={{ general_data[data_type + "-party-daily"] | string | replace(" ", "") | tojson }}
                                    data-labels='{{ PARTIES | tojson }}'
                                    data-title="{{ data_type | capitalize }} per Date"
                            ></canvas>
                        </div>
                    {% endif %}
                    {% if data_type + "-party" in general_data %}
                        <div class="col-4 mx-auto">
                            <canvas
                                    id="{{ data_type }}-party-chart"
                                    data-data='{{ general_data[data_type + "-party"] | tojson }}'
                                    data-labels='{{ PARTIES | tojson }}'
                                    data-title="Total {{ data_type | capitalize }}"
                            ></canvas>
                        </div>
                    {% endif %}
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}