<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/index.html">Dutch Political Facebook Ad Comparison</a>

    <ul class="nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="general-charts-navbar-dropdown-button" role="button"
               data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">Overall Statistics</a>
            <div class="dropdown-menu" aria-labelledby="general-charts-navbar-dropdown-button">
                <a class="dropdown-item" href="/index.html#ads-charts">Ads</a>
                <a class="dropdown-item" href="/index.html#spending-charts">Spending</a>
                <a class="dropdown-item" href="/index.html#impressions-charts">Impressions</a>
                <a class="dropdown-item" href="/index.html#potential-reach-charts">Potential Reach</a>
            </div>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="party-specific-charts-navbar-dropdown-button" role="button"
               data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">Party Statistics</a>
            <div id="party-specific-charts-navbar-dropdown" class="dropdown-menu" aria-labelledby="party-specific-charts-navbar-dropdown-button">
                {% for party in PARTIES %}
                    <a class="dropdown-item" href="/pages/{{ party | lower | safe }}-statistics.html">{{ party | safe }}</a>
                {% endfor %}
            </div>
        </li>
        <li>
            <a class="nav-link" href="/pages/about.html">About</a>
        </li>
    </ul>
    <ul class="nav ml-auto">
        <li class="nav-item">
            <span class="nav-link">Last Updated: {{ last_updated }}</span>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="https://github.com/joren485/DutchPoliticalFacebookAdComparision">
                <i class="fab fa-github"></i>
            </a>
        </li>
    </ul>
</nav>