{% extends "base.html" %}

{% block title %}{{ party }}{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>{{ party }} Graphs</h1>

        <p class="lead">
            {{ party }} ran <strong>{{ party_data['total-ads'] }}</strong> ads
            and spent between <strong>€{{ party_data['spending-total-lower'] }}</strong>
            and <strong>€{{ party_data['spending-total-upper'] }}</strong>.
        </p>
    </div>
    <hr>

    {% for data_type in ("spending", "impressions") %}
        <div id="{{ party }}-{{ data_type }}-charts">
            <div class="text-center">
                <h2>{{ data_type | capitalize }}</h2>
            </div>
            {% for demographic_type in DEMOGRAPHIC_TYPES if demographic_type not in ("total",) %}
                <div class="text-center">
                    <h4>(Estimated) {{ data_type | capitalize }} per {{ demographic_type | replace("-", " ") | capitalize }}</h4>
                </div>

                <div class="row">
                    <div class="col-8 mx-auto">
                        <canvas
                                id="{{ data_type }}-{{ demographic_type }}-daily-chart"
                                data-data={{ party_data[data_type + "-" + demographic_type + "-daily"] | string | replace(" ", "") | tojson }}
                                data-labels='{{ DEMOGRAPHIC_TYPE_TO_LIST_MAP[demographic_type] | map("capitalize") | list | tojson }}'
                                data-title="{{ data_type | replace("-", " ") | capitalize }} per Date"
                        ></canvas>
                    </div>
                    <div class="col-4 mx-auto">
                        <canvas
                                id="{{ data_type }}-{{ demographic_type }}-chart"
                                data-data='{{ party_data[data_type + "-" + demographic_type] | tojson }}'
                                data-labels='{{ DEMOGRAPHIC_TYPE_TO_LIST_MAP[demographic_type] | map("capitalize") | list | tojson }}'
                                data-title="Total {{ data_type | replace("-", " ") | capitalize }}"
                        ></canvas>
                    </div>
                </div>

                <hr>
            {% endfor %}

        </div>
    {% endfor %}

{% endblock %}