{% extends "base.html" %}

{% block title %}Themes{% endblock %}

{% block content %}

    <div>
        <h1 class="text-center">Theme Analysis</h1>

        <div class="col-6 mx-auto">
            <p class="lead">
                This page shows you statistics about the themes in political ads.
                These are the results of a research project about matching themes to political Facebook Ads.
                For more information please read the <a href="#">paper</a> <em>(not yet available)</em>.
            </p>
        </div>

    </div>

    <hr>

    <div>
        <h4 class="text-center">Theme Distribution per Party</h4>

        <div class="col-6 mx-auto">
            <p>
                These graphs show you how much each party advertises about each theme.
                The left graph shows how many ads a party ran about each theme.
                The right graph shows how many people were shown the ads (called impressions) about each theme.
                For example, this shows you that D66 advertised the most about education & culture, but that their ads
                about climate were shown the most.
            </p>
        </div>
        <div class="text-center">
            <div class="btn-group flex-wrap" role="group">
                {% for party in PARTIES %}
                    <input type="radio" class="btn-check update-charts {{ "first-button" if loop.index0 == 0 }}"
                           name="btn-radio-party-graphs" id="btn-{{ party }}"
                           data-id="party-graphs"
                           data-data='{{ [
                            theme_data["number-of-ads-theme-party"][party],
                            theme_data["impressions-theme-party"][party],
                       ] | tojson }}'
                           data-party="{{ party }}"
                    >
                    <label class="btn btn-outline-primary" for="btn-{{ party }}">{{ party }}</label>
                {% endfor %}
            </div>
        </div>

        <div id="party-graphs" class="row mt-1">
            <div class="col-4 mx-auto">
                <canvas
                        id="number-of-ads-party-chart"
                        data-data=''
                        data-labels='{{ THEMES | tojson }}'
                        data-title="Number of Ads by PLACEHOLDER Distributed by Theme"
                ></canvas>
            </div>
            <div class="col-4 mx-auto">
                <canvas
                        id="impressions-party-chart"
                        data-data=''
                        data-labels='{{ THEMES | tojson }}'
                        data-title="Impressions of Ads by PLACEHOLDER Distributed by Theme"
                ></canvas>
            </div>
        </div>
    </div>

    <hr>

    <div>
        <h4 class="text-center">Demographic Impressions Distribution per Theme</h4>

        <div class="col-6 mx-auto">
            <p>
                These graphs show who the ads about each theme were shown to.
                Facebook provides three types of demographics: female/male ratio, age groups and regions.
                For example, this shows you how many people were shown ads about housing.
            </p>
        </div>
        <div class="text-center">
            <div class="btn-group flex-wrap" role="group">
                {% for theme in THEMES %}
                    <input type="radio" class="btn-check update-charts {{ "first-button" if loop.index0 == 0 }}"
                           name="btn-radio-theme-graphs" id="btn-{{ theme }}"
                           data-id="theme-graphs"
                           data-data='{{ [
                            theme_data["impressions-demographics-theme"][theme]["gender"],
                            theme_data["impressions-demographics-theme"][theme]["age"],
                            theme_data["impressions-demographics-theme"][theme]["region"],
                        ] | tojson }}'
                           data-theme="{{ theme }}"
                    >
                    <label class="btn btn-outline-primary" for="btn-{{ theme }}">{{ theme | capitalize }}</label>
                {% endfor %}
            </div>
        </div>

        <div id="theme-graphs" class="mt-1">
            <div class="row">
                {% for dt in DEMOGRAPHIC_TYPES if dt not in ("total",) %}
                    <div class="col-4 mx-auto">
                        <canvas
                                id="impressions-{{ dt }}-theme-chart"
                                data-data=""
                                data-labels='{{ DEMOGRAPHIC_TYPE_TO_LIST_MAP[dt] | map("capitalize") | list | tojson }}'
                                data-title='{{ "Impressions of Ads about PLACEHOLDER Distributed by " + dt | capitalize }}'
                        ></canvas>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <hr>

    <div>
        <h4 class="text-center">Demographic Impressions Distribution per Theme per Party</h4>

        <div class="col-6 mx-auto">
            <p>
                These graphs look more deeply into who has been shown ads.
                These graphs do not only look at who was shown ads about each theme, they also take the parties into
                account.
                For example, this shows you how many people were shown ads by D66 about housing.
            </p>
        </div>
        <div class="text-center">
            <div class="btn-group flex-wrap" role="group">
                {% for party in PARTIES %}
                    <div class="btn-group" role="group">
                        <button id="btn-dropdown-{{ party }}" type="button" class="btn btn-primary dropdown-toggle"
                                data-bs-toggle="dropdown" aria-expanded="false">{{ party }}</button>

                        <ul class="dropdown-menu" aria-labelledby="btn-dropdown-{{ party }}">
                            {% for theme in THEMES %}
                                {% if theme_data["impressions-demographics-theme-party"][party][theme]["region"] | sum > 0 %}
                                    <li>
                                        <button class="dropdown-item btn btn-primary update-charts {{ "first-button" if party == PARTIES[0] and theme == THEMES[8] }}"
                                                type="button"
                                                data-id="theme-party-graphs"
                                                data-data='{{ [
                                                theme_data["impressions-demographics-theme-party"][party][theme]["gender"],
                                                theme_data["impressions-demographics-theme-party"][party][theme]["age"],
                                                theme_data["impressions-demographics-theme-party"][party][theme]["region"],
                                            ] | tojson }}'
                                                data-party="{{ party }}"
                                                data-theme="{{ theme }}"
                                        >{{ theme }}</button>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id="theme-party-graphs" class="mt-1">
            <div class="row">
                {% for dt in DEMOGRAPHIC_TYPES if dt not in ("total",) %}
                    <div class="col-4 mx-auto">
                        <canvas
                                id="impressions-{{ dt }}-theme-party-chart"
                                data-data=""
                                data-labels='{{ DEMOGRAPHIC_TYPE_TO_LIST_MAP[dt] | map("capitalize") | list | tojson }}'
                                data-title='{{ "Impressions of Ads by PLACEHOLDER about PLACEHOLDER Distributed by " + dt | capitalize }}'
                        ></canvas>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <hr>

    <div>
        <h4 class="text-center">Matched vs Non-Matched</h4>

        <div class="col-6 mx-auto">
            <p>
                All the graphs on this page are about ads that were matched to a theme.
                However, many parties also run ads that are not about a specific theme.
                This graph shows how many ads ran by a party are matched to a theme and how many are not.
            </p>

            Some reasons why an ad may not be matched to a theme:
            <ul>
                <li>Parties run ads about organisational matters. For example, becoming a member or a conference they
                    are organising.
                </li>
                <li>Parties run ads about broad messages (e.g. "We need new leadership") or specific candidates.</li>
                <li>Parties run small ads consisting of only a few words. These are hard to match to a specific theme.
                </li>
            </ul>

            <p>For example, these graphs will tell you if a party is focussing on themes
                or on other factors (e.g. their party leader) in their messaging.</p>
        </div>
        <div class="text-center">
            <div class="btn-group flex-wrap" role="group">
                {% for party in PARTIES %}
                    <input type="radio" class="btn-check update-charts {{ "first-button" if loop.index0 == 0 }}"
                           name="btn-radio-matched-graphs" id="btn-matched-{{ party }}"
                           data-id="matched-graphs"
                           data-data='{{ [
                            theme_data["matched"][party],
                       ] | tojson }}'
                           data-party="{{ party }}"
                    >
                    <label class="btn btn-outline-primary" for="btn-matched-{{ party }}">{{ party }}</label>
                {% endfor %}
            </div>
        </div>

        <div id="matched-graphs" class="row mt-1">
            <div class="col-4 mx-auto">
                <canvas
                        id="matched-party-chart"
                        data-data=''
                        data-labels='["Matched", "Not Matched"]'
                        data-title="Matched vs Not Matched Ads by PLACEHOLDER"
                ></canvas>
            </div>
        </div>
    </div>

{% endblock %}
