{% extends "base.html" %}

{% block title %}{{ theme | capitalize }}{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>{{ theme | capitalize }} Graphs</h1>

        <div>
            <small><em>If you want to see the "{{ theme }}" graphs for a specific party, please select a party:</em></small>

            <div class="btn-group">
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                            id="{{ theme }}-party-dropdown"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <small>Choose a party</small>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="{{ theme }}-party-dropdown">
                        {% for party in PARTIES %}
                            <li><a class="dropdown-item"
                                   href="/DutchPoliticalFacebookAdComparision/website/{{ theme | safe }}-{{ party | lower | safe }}-text.html">
                                <small>{{ party }}</small>
                            </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div class="col-5 mx-auto">
        <p class="lead">This page shows graphs about ads about "{{ theme }}" compared by party.</p>

        <p>For each demographic, four graphs are shown that compare:</p>
        <ul>
            <li><strong>Occurrences:</strong> The amount of ads that were about "{{ theme }}".</li>
            <li><strong>Impressions:</strong> How many times ads about "{{ theme }}" were shown.</li>
            <li><strong>Potential reach:</strong> The maximum amount of people that ads about "{{ theme }}" could have
                been shown to.
            </li>
            <li><strong>Spending:</strong> The amount of money that parties spend on ads.</li>
        </ul>
    </div>

    <hr>
    {% for demographic_type in DEMOGRAPHIC_TYPES %}
        <div class="text-center">
            <h2>Ranked by {{ demographic_type | capitalize }}</h2>
        </div>
        {% for demographic in DEMOGRAPHIC_TYPE_TO_LIST_MAP[demographic_type] %}
            <div class="text-center">
                <h4>{{ demographic | capitalize }}</h4>
            </div>
            <div class="row">
                {% for data_type in DATA_TYPES %}
                    <div class="col-3 mx-auto">
                        {% if theme_text_data["general"][data_type + "-" + demographic] | sum > 0 %}
                            <canvas
                                    id="{{ data_type }}-{{ demographic }}-chart"
                                    data-data='{{ theme_text_data["general"][data_type + "-" + demographic] | tojson }}'
                                    data-labels='{{ PARTIES | tojson }}'
                                    data-title="{{ data_type | replace("-", " ") | capitalize }}"
                            ></canvas>
                        {% else %}
                            <p>No data available</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <hr>
        {% endfor %}
    {% endfor %}
{% endblock %}
