{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}

    <div class="text-center">
        <h1>Theme Graphs</h1>

        <p class="lead">
            This page is a <strong>work in progress</strong>.
        </p>
    </div>

    <hr>

    <div class="text-center">
        <h2>Theme Distribution per Party</h2>

        <div class="btn-group flex-wrap" role="group">
            {% for party in PARTIES %}
                <input type="radio" class="btn-check update-charts" name="btn-radio-party-graphs" id="btn-{{ party }}"
                       data-ids='{{ ["number-of-ads-party-chart", "impressions-party-chart"] | tojson }}'
                       data-data='{{ [
                        theme_data["number-of-ads-theme-party"][party],
                        theme_data["impressions-theme-party"][party],
                       ] | tojson }}'
                       {{ "checked" if loop.index0 == 0 }}
                >
                <label class="btn btn-outline-primary" for="btn-{{ party }}">{{ party }}</label>
            {% endfor %}
        </div>

        <div id="party-graphs" class="row mt-1">
            <div class="col-4 mx-auto">
                <canvas
                        id="number-of-ads-party-chart"
                        data-data='{{ theme_data["number-of-ads-theme-party"][PARTIES[0]] | tojson }}'
                        data-labels='{{ THEMES | tojson }}'
                        data-title="{{ "Number of Ads per Theme" }}"
                ></canvas>
            </div>
            <div class="col-4 mx-auto">
                <canvas
                        id="impressions-party-chart"
                        data-data='{{ theme_data["impressions-theme-party"][PARTIES[0]] | tojson }}'
                        data-labels='{{ THEMES | tojson }}'
                        data-title="{{ "Impressions per Theme" }}"
                ></canvas>
            </div>
        </div>
    </div>

    <hr>

    <div class="text-center">
        <h2>Demographic Impressions Distribution per Theme</h2>

        <div class="btn-group flex-wrap" role="group">
            {% for theme in THEMES %}
                <input type="radio" class="btn-check update-charts" name="btn-radio-theme-graphs" id="btn-{{ theme }}"
                       data-ids='{{ [
                           "impressions-gender-theme-chart",
                           "impressions-age-theme-chart",
                           "impressions-region-theme-chart"
                       ] | tojson }}'
                       data-data='{{ [
                            theme_data["impressions-demographics-theme"][theme]["gender"],
                            theme_data["impressions-demographics-theme"][theme]["age"],
                            theme_data["impressions-demographics-theme"][theme]["region"],
                        ] | tojson }}'
                        {{ "checked" if loop.index0 == 0 }}
                >
                <label class="btn btn-outline-primary" for="btn-{{ theme }}">{{ theme | capitalize }}</label>
            {% endfor %}
        </div>

        <div id="theme-graphs" class="mt-1">
            <div class="row">
                {% for dt in DEMOGRAPHIC_TYPES if dt not in ("total",) %}
                    <div class="col-4 mx-auto">
                        <canvas
                                id="impressions-{{ dt }}-theme-chart"
                                data-data='{{ theme_data["impressions-demographics-theme"][THEMES[0]][dt] | tojson }}'
                                data-labels='{{ DEMOGRAPHIC_TYPE_TO_LIST_MAP[dt] | tojson }}'
                                data-title="{{ "Impressions per " + dt }}"
                        ></canvas>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <hr>

    <div class="text-center">
        <h2>Demographic Impressions Distribution per Theme per Party</h2>

        <div class="btn-group flex-wrap" role="group">
            {% for party in PARTIES %}
                <div class="btn-group" role="group">
                    <button id="btn-dropdown-{{ party }}" type="button" class="btn btn-primary dropdown-toggle"
                            data-bs-toggle="dropdown" aria-expanded="false">{{ party }}</button>

                    <ul class="dropdown-menu" aria-labelledby="btn-dropdown-{{ party }}">
                        {% for theme in THEMES %}
                            <li>
                                <button class="dropdown-item btn btn-primary update-charts" type="button"
                                        data-ids='{{ [
                                            "impressions-gender-theme-party-chart",
                                            "impressions-age-theme-party-chart",
                                            "impressions-region-theme-party-chart",
                                        ] | tojson }}'
                                        data-data='{{ [
                                            theme_data["impressions-demographics-theme-party"][party][theme]["gender"],
                                            theme_data["impressions-demographics-theme-party"][party][theme]["age"],
                                            theme_data["impressions-demographics-theme-party"][party][theme]["region"],
                                        ] | tojson }}'
                                >{{ theme }}</button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>

        <div id="theme-party-graphs" class="mt-1">
            <div class="row">
                {% for dt in DEMOGRAPHIC_TYPES if dt not in ("total",) %}
                    <div class="col-4 mx-auto">
                        <canvas
                                id="impressions-{{ dt }}-theme-party-chart"
                                data-data='{{ theme_data["impressions-demographics-theme-party"][PARTIES[0]][THEMES[8]][dt] | tojson }}'
                                data-labels='{{ DEMOGRAPHIC_TYPE_TO_LIST_MAP[dt] | tojson }}'
                                data-title="{{ dt }}"
                        ></canvas>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
