{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}

    <div class="text-center">
        <h1>Theme Graphs</h1>

        <p class="lead">
            {{ lipsum(n=1, html=True, min=20, max=50) }}
        </p>
    </div>

    <hr>

    <div class="text-center">
        <h2>Theme Distribution per Party</h2>

        <div class="btn-group flex-wrap" role="group">
            {% for party in PARTIES %}
                <input type="radio" class="btn-check" name="btnradio-parties" id="btnradio-{{ party }}"
                        {{ "checked" if loop.index0 == 0 }}
                       data-bs-toggle="collapse" data-bs-target="#collapse-{{ party }}"
                       aria-expanded="false" aria-controls="collapse-{{ party }}">
                <label class="btn btn-outline-primary" for="btnradio-{{ party }}">{{ party }}</label>
            {% endfor %}
        </div>

        <div id="party-graphs" class="mt-1">
            {% for party in PARTIES %}
                <div id="collapse-{{ party }}" class="collapse {{ "show" if party == "D66" }}"
                     data-bs-parent="#party-graphs" style="transition: none;">
                    <div class="card card-body">
                        <div class="row">
                            <div class="col-4 mx-auto">
                                <canvas
                                        id="themes-{{ party }}-chart"
                                        data-data='{{ theme_data["number-of-ads-theme-party"][party] | tojson }}'
                                        data-labels='{{ THEMES | tojson }}'
                                        data-title="{{ "Number of Ads per Theme (" + party + ")" }}"
                                ></canvas>
                            </div>
                            <div class="col-4 mx-auto">
                                <canvas
                                        id="themes-{{ party }}-chart"
                                        data-data='{{ theme_data["impressions-demographics-theme-party"][party].values() | map(attribute="total") | map("first") | list | tojson }}'
                                        data-labels='{{ THEMES | tojson }}'
                                        data-title="{{ "Impressions per Theme (" + party + ")" }}"
                                ></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <hr>

    <div class="text-center">
        <h2>Demographic Impressions Distribution per Theme</h2>

        <div class="btn-group flex-wrap" role="group">
            {% for theme in THEMES %}
                <input type="radio" class="btn-check" name="btnradio-themes" id="btnradio-{{ theme }}"
                        {{ "checked" if loop.index0 == 0 }}
                       data-bs-toggle="collapse" data-bs-target="#collapse-{{ theme }}"
                       aria-expanded="false" aria-controls="collapse-{{ theme }}">
                <label class="btn btn-outline-primary" for="btnradio-{{ theme }}">{{ theme }}</label>
            {% endfor %}
        </div>

        <div id="theme-graphs" class="mt-1">
            {% for theme in THEMES %}
                <div id="collapse-{{ theme }}" class="collapse {{ "show" if loop.index0 == 0 }}"
                     data-bs-parent="#theme-graphs" style="transition: none;">
                    <div class="card card-body">
                        <div class="row">
                            {% for dt in DEMOGRAPHIC_TYPES if dt not in ("total",) %}
                                <div class="col-4 mx-auto">
                                    <canvas
                                            id="demographics-{{ theme }}-chart"
                                            data-data='{{ theme_data["impressions-demographics-theme"][theme][dt] | tojson }}'
                                            data-labels='{{ DEMOGRAPHIC_TYPE_TO_LIST_MAP[dt] | tojson }}'
                                            data-title="{{ "Impressions per " + dt + " (" + theme + ")" }}"
                                    ></canvas>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

    <hr>

    <div class="text-center">
        <h2>Demographic Impressions Distribution per Theme per Party</h2>

        <div class="btn-group flex-wrap" role="group">
            {% for party in PARTIES %}
                <div class="btn-group" role="group">
                    <button id="btn-dropdown-{{ party }}" type="button" class="btn btn-primary dropdown-toggle"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        {{ party }}
                    </button>

                    <ul class="dropdown-menu" aria-labelledby="btn-dropdown-{{ party }}">
                        {% for theme in THEMES %}
                            <li>
                                <button class="dropdown-item btn btn-primary" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapse-{{ theme }}-{{ party }}"
                                        aria-expanded="false" aria-controls="collapse-{{ theme }}-{{ party }}">
                                    {{ theme }}
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>

        <div id="theme-party-graphs" class="mt-1">
            {% for party in PARTIES %}
                {% set outer_loop = loop %}
                {% for theme in THEMES %}
                    <div id="collapse-{{ theme }}-{{ party }}"
                         class="collapse {{ "show" if outer_loop.index0 == 0 and loop.index0 == 8 }}"
                         data-bs-parent="#theme-party-graphs" style="transition: none;">
                        <div class="card card-body">
                            <h5>{{ party }} | {{ theme }}</h5>
                            <div class="row">
                                {% for dt in DEMOGRAPHIC_TYPES if dt not in ("total",) %}
                                    <div class="col-4 mx-auto">
                                        <canvas
                                                id="{{ theme }}-{{ party }}-chart"
                                                data-data='{{ theme_data["impressions-demographics-theme-party"][party][theme][dt] | tojson }}'
                                                data-labels='{{ DEMOGRAPHIC_TYPE_TO_LIST_MAP[dt] | tojson }}'
                                                data-title="{{ party + " | " + theme + " | " + dt }}"
                                        ></canvas>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
